 <form ng-submit="controller.addDog3()">
        <label>Name</label>
        <input type="text" ng-model="controller.dog.name"></input>
        <br>
        <label>Age</label>
        <input type="number" ng-model="controller.dog.age"></input>
        <br>
        <label>Owner</label>
        <input type="text" ng-model="controller.dog.owner"></input>
        <br>
        <label>Breed</label>
        <input type="text" ng-model="controller.dog.breed"></input>
        <br>
        <input type="submit" value="Save Changes"></input>


